.container {
  margin: 150px;
}

.bg-gradient-login {
  background-color: #f8f9fc;
  background-size: cover;
}

.login-form {
  padding: 3rem 2rem !important;
}

.bg-login-image {
  background-position: center;
  background-size: cover;
}

.login-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #999087;
}
